site_name: Django Graphene Auth
site_description: GraphQL registration and authentication for Django
site_url: https://django-graphene-auth.readthedocs.io/en/latest
site_author: ptbang
repo_name: ptbang/django-graphene-auth
repo_url: https://github.com/ptbang/django-graphene-auth

theme:
  name: "material"
  language: en
  logo: 'images/graphql_logo.svg'
  favicon: 'images/favicon.ico'
  features:
    - content.code.copy
    - content.code.select
  font:
    text: Roboto
    code: Roboto Mono
  palette:
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
  - pymdownx.caret
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.magiclink
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search
  - minify:
      minify_html: true
  - markdownextradata

dev_addr: 127.0.0.1:7000

nav:
  - Start here: index.md
  - Installation: installation.md
  - Settings: settings.md
  - API: api.md
  - Overriding email templates: overriding-email-templates.md
  - Changelog: changelog.md
